{% extends 'core/base.html' %}

{% block title %}Confirmar Exclusão{% endblock title %}

{% block content %}
    <div class="alert alert-danger">
        <h2>Atenção!</h2>
        <p>Você tem certeza que deseja excluir o equipamento: <strong>"{{ object.nome }}"</strong>?</p>
        <p>Esta ação não pode ser desfeita.</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="d-flex flex-column flex-md-row justify-content-md-end gap-2">
                <button type="submit" class="btn btn-danger">Sim, confirmar exclusão</button>
                <a href="{% url 'core:equipamento_detalhe' pk=object.pk %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}
