{% extends 'core/base.html' %}

{% block title %}Inventário de Equipamentos - Inventario{% endblock %}

{% block content %}
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-center mb-3">
        <h2 class="mb-3 mb-md-0">Lista de Equipamentos</h2>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

            {% if perms.core.add_equipamento %}
                <a href="{% url 'core:importar_csv' %}" class="btn btn-outline-primary">Import CSV</a>
            {% endif %}
            <a href="{% url 'core:exportar_csv' %}" class="btn btn-outline-Inventario">Exp. CSV</a>

            {% if perms.core.add_equipamento %}
                <a href="{% url 'core:equipamento_novo' %}" class="btn btn-Inventario-gradient fw-bold">Adicionar</a>
            {% endif %}
        </div>
    </div>

    <form method="GET" action="" class="row g-3 align-items-center mb-4">
        <div class="col-md-3">
            <select name="departamento" id="departamento-select" class="form-select">
                <option value="">Todos os Departamentos</option>
                {% for depto in departamentos %}
                    <option value="{{ depto.id }}" {% if depto.id|stringformat:"s" == departamento_selecionado_id %}selected{% endif %}>
                        {{ depto.nome }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-7">
            <input type="text" name="q" class="form-control" placeholder="Pesquisar..." value="{{ query_atual }}">
        </div>
        <div class="col-md-2">
            <button class="btn btn-Inventario-gradient w-100" type="submit">Pesquisar</button>
        </div>
    </form>

    <div class="input-group input-group-sm mb-4">
      {% if perms.core.can_print_label %}
        <a href="#" id="btn-imprimir-departamento" class="btn btn-outline-primary fw-bold" target="_blank">Imprimir Todos</a>
      {% endif %}
      <input type="text" id="intervalo-inicio" class="form-control" placeholder="De: INN-000001">
      <input type="text" id="intervalo-fim" class="form-control" placeholder="Até: INN-000100">
      {% if perms.core.can_print_label %}
        <a href="#" id="btn-imprimir-intervalo" class="btn btn-Inventario-gradient disabled" target="_blank">Ok</a>
      {% endif %}
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Marca / Modelo</th>
                    <th scope="col">Situação</th>
                    <th scope="col">Localização</th>
                    <th scope="col">Departamento</th>
                </tr>
            </thead>
            <tbody>
                {% for equipamento in equipamentos %}
                <tr>
                    <td>
                        <a href="{% url 'core:equipamento_detalhe' pk=equipamento.pk %}">{{ equipamento.nome }}</a>
                    </td>
                    <td>{{ equipamento.marca }} / {{ equipamento.modelo }}</td>
                    <td>{{ equipamento.get_situacao_display }}</td>
                    <td>{{ equipamento.localizacao.nome }}</td>
                    <td>{{ equipamento.departamento.nome }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        {% if request.GET.q or request.GET.departamento %}
                            Nenhum equipamento encontrado para os filtros aplicados.
                        {% else %}
                            Nenhum equipamento cadastrado ainda.
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if is_paginated %}
        {% with q=request.GET.q departamento=request.GET.departamento %}
        <nav aria-label="Navegação das páginas">
            <ul class="pagination pagination-sm justify-content-center">
                {% if page_obj.has_previous %}<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if q %}&q={{ q }}{% endif %}{% if departamento %}&departamento={{ departamento }}{% endif %}" aria-label="Anterior"><span aria-hidden="true">&laquo;</span></a></li>{% else %}<li class="page-item disabled"><span class="page-link">&laquo;</span></li>{% endif %}
                {% for num in page_obj.paginator.page_range %}{% if page_obj.number == num %}<li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}<li class="page-item"><a class="page-link" href="?page={{ num }}{% if q %}&q={{ q }}{% endif %}{% if departamento %}&departamento={{ departamento }}{% endif %}">{{ num }}</a></li>{% endif %}{% endfor %}
                {% if page_obj.has_next %}<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if q %}&q={{ q }}{% endif %}{% if departamento %}&departamento={{ departamento }}{% endif %}" aria-label="Próximo"><span aria-hidden="true">&raquo;</span></a></li>{% else %}<li class="page-item disabled"><span class="page-link">&raquo;</span></li>{% endif %}
            </ul>
        </nav>
        {% endwith %}
    {% endif %}

{% endblock %}